@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/** Background and Navigation bar thing**/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav-bar-ctn a{
    color: #fff;
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    padding: 15px 10px;
}

.nav-bar-ctn li{
    list-style: none;
}

.navbar{
    display: flex;
    background: #000;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.nav-bar-ctn{
    display: flex;
    margin-right: 40px;
}

.container-logo img{
    height: 60px;
    padding-top: 15px;
    margin-left: 40px;
}

.ctn-hero-nav{
    height: 15vh;
    background: linear-gradient(rgba(0, 0, 0, .10), rgba(0,0,0,.10)),  url(/Images/SPgif.gif);
    object-fit: cover;
}
.hero-section h2{
    text-transform: uppercase;
    color: #fff;
    font-size: 7rem;
    width: 2000px;
    text-align: center;
    margin-bottom: 15px;
    font-family: 'Dosis', sans-serif;
}

.hero-section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body-section{
    height: 15vh;
    background: linear-gradient(rgba(0, 0, 0, .10), rgba(0,0,0,.10)),  url(/Images/SPgif.gif);
    object-fit: cover;
}
  
/**Images**/

.StarPlatinum {
background-image:linear-gradient(rgba(0, 0, 0, .3), rgba(0,0,0,.5)), url(/Images/StarPlatinum.png);
background-size: cover;
background-position: center;
}

.new-image{
    position: absolute;
  top: 200px;
  right: 300px;
  width: 500px;
  height: 700px;
  background-image:linear-gradient(rgba(0, 0, 0, .0), rgba(0,0,0,.0)), url(/Images/StarPlatinumS.png);
  object-fit: cover;
  background-size: cover;
}

.header {
    color: white;
    text-align: center;
}

.content {
    color: white;
    display: flex;
    flex-direction: column;
}
